<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
					initial-scale=1.0" />
    <title>Academic Section</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">

</head>

<body>
    <header class="oj-header">
        <div class="oj-header-limiter">
            <h1><a href="/">Academic<span>Section</span></a></h1>
            <nav>
                <a href="/" class="selected">Home</a>
                <% if (session.role=='instructor' ) { %>
                    <a href="/addcourse">Add Courses</a>
                    <a href="/pending">Approvals</a>
                    <% } %>
                        <% if (session.role=='student' ) { %>
                            <a href="/enrol">Enrol Courses</a>
                            <% } %>
                                <a href="/about-us">About Us</a>


            </nav>

            <% if (session.role!=null ) { %>
                <ul>
                    <li>
                        <p>Welcome <%= session.mail %>
                        </p>
                    </li>
                    <li>
                        <form action="/logout" method="post">
                            <button type="submit" class="btn btn-light">Logout</button>
                        </form>
                    </li>
                </ul>
                <% } %>
                    <% if (session.role==null ) { %>
                        <ul>
                            <li>
                                <a href="/signup">Register</a>
                            </li>
                            <li>
                                <a href="/login">Login</a>
                            </li>
                        </ul>
                        <% } %>
        </div>
    </header>
</body>